body{
    background-image:url(blurry_green.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    background-size:cover;
	background-attachment:fixed;
}

/*	Gives the parametrers pane background color and radius on bottom corners
*/
#ParametersPane{
	-webkit-border-radius: 0px 0px 3px 3px;
        	border-radius: 0px 0px 3px 3px;
	background-color: rgba(0, 0, 0, 0.78);
}

/*	Changes the cursor on ToggleButton hover
	And sets up the image background
*/
#ToggleButton{
	cursor:pointer;
	background-image:url(ParamToggleIcon.png);
	background-position:center top;
	background-repeat:no-repeat;
}

/*	Fix for date picker inherited background property from 
	blueprint/screen.css -> thead th {background:#c3d9ff;}
*/
table.ui-datepicker-calendar thead th {
	background:transparent;
}


/*	General properties for parameters styling
*/
#StatusFilterPane button.ui-multiselect, 
#TerritoryFilterPane button.ui-multiselect,
#render_DatePicker{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border: solid 3px #ccc;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
	background: transparent;
	color: #eee;
	margin-top: 10px;
	cursor: pointer;
	background-repeat:no-repeat;
	background-position: center right;
	-webkit-border-radius: 0px;
	border-radius: 0px;

}

/*	O Firefox, without this property, the 
	Two Dropdowns grow 1cm bigger than DatePicker
*/
#StatusFilterPane button.ui-multiselect, 
#TerritoryFilterPane button.ui-multiselect{
	height: 33px;
}

/*	Specific parameter components icons and properties
*/
#render_DatePicker {
	padding-right: 20px;
	background-image: url(icon-calendar.png);
}

#StatusFilterPane button.ui-multiselect {
	background-image: url(icon-status.png);
}

#TerritoryFilterPane button.ui-multiselect {
	background-image: url(icon-territory.png);
}


/*	Customizations for Hynds multiselect component
	Ads some transparent styling
*/
.ui-widget-content[class~=ui-multiselect-menu]{
	background:transparent;
	background-color: rgba(0, 0, 0, 0.5);
}

.ui-icon.ui-icon-triangle-2-n-s {
	background:transparent;
}

/*	Gives the chart window a white transparent border
	that doesn't overflows on blueprint width
*/
#Window01Outer{
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
}

/*	Sets manually the content width
	because span-24 overflows the #Window01Oute padding
	Gives it transparent white 90% background
*/
#Window01Content{
	width:100%;
	background-color:rgba(255, 255, 255, 0.9);
	padding-top:10px;
	padding-bottom:10px;
}

/*	Styles the chart title
*/
.boxTitle{
	height: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: -2px;
	text-indent: 20px;
	border-bottom:solid 1px #ccc;
	color:#777;
}

/*	That fancy underline on the text
*/
.boxTitle span{
	border-bottom:solid 4px #ccc;
}

/*	Sets up the export button design and cursor 
*/
#ExportButton01{
	background-repeat:no-repeat;
	background-position: center right;
	background-image:url(icon-export.png);
	cursor:pointer;
	margin-left:20px;
	
}

/*	Gives the component's mandatory text a 
	transparent color so it won't be visible
*/
#ExportButton01 div.popupTitle{
	color:transparent;
	text-decoration:none;
}

/* It gives the export options some style
*/
div.exportElement{
	height:auto;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	border-left:solid 3px #fff;
}

div.exportElement:hover{
	border-left:solid 3px #ccc;
}

/* 	Corrects the position of the labels from export popup
	They're originally under the close (x) button
*/
.popupComponent{
	padding-top: 25px;
}